# Assignment-1

In [ ]:
# 1] 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [1]:

'22'*'2'

TypeError: can't multiply sequence by non-int of type 'str'

In [3]:
print="hii"

In [4]:
print("hey")

TypeError: 'str' object is not callable

In [10]:
del print

In [11]:
a,b,c=10

TypeError: cannot unpack non-iterable int object

In [12]:
A="50.5"
print(f"datatype before :{type(A)}")
A= int(A)
print(f"datatype after :{type(A)}")

datatype before :<class 'str'>

ValueError: invalid literal for int() with base 10: '50.5'

In [13]:
# calculate age 
name= input("NAME:")
city=input("CITY:")
year=input("year_of_birth")
age=2022-year
print(f"""My name is {name}
     I'm living in {city}
     I'm {age} years old""")

NAME:shweta
CITY:pune
year_of_birth2002

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [8]:
#Take input A and B and print their sum, mul, div, square of the nos.

In [15]:
A= int(input("Enter the value of A "))
B= int(input("Enter the value of B "))
print(f"Sum = {A+B}")
print(f"Multiplication = {A*B}")
print(f"Division = {A/B}")
print(f"Square of nos : {A*A} and {B*B}")

Enter the value of A 5
Enter the value of B 6
Sum = 11
Multiplication = 30
Division = 0.8333333333333334
Square of nos : 25 and 36

#3. How many reserve keywords are there in python and why we should not use them as a variable name?
ANS: There are total 33 reserve keywords in python. these words are reserved and used for defining the syntax and structure of python programming.

In [16]:
# 4.Create email ids with the user inputs. in the following format

#lastname.firstname@gmail.com


firstname=input("Enter your first name")
lastname=input("Enter your last name")
print(f"Email-id : {lastname}.{firstname}@gmail.com")

Enter your first nameshweta
Enter your last namejagdale
Email-id : jagdale.shweta@gmail.com

In [19]:
#5. Try to print the following lines -
#Hi I'm Sunny
#My address is 22\3
#I earn 20$ daily.

print("""Hii I'm Sunny
My address is 22/3
I earn 20$ daily.""")

Hii I'm Sunny
My address is 22/3
I earn 20$ daily.

In [20]:
#6.Take user input (name, address, date of birth etc) to fill a form for your college form and print their email IDs.

name=input("Enter your name: ")
address=input("Enter your address: ")
date_of_birth= int(input("Enter your date_of_birth: "))
print(f"""INFORMATION FORM
Name         :{name}
Address      :{address}
Date of birth:{date_of_birth}
Email-ID     :{name}.{date_of_birth}@gmail.com""")

Enter your name: shweta
Enter your address: pune
Enter your date_of_birth: 6
INFORMATION FORM
Name         :shweta
Address      :pune
Date of birth:6
Email-ID     :shweta.6@gmail.com

In [29]:
#7.Convert the following

#"22.4" into integer

#"22" into complex no.

A=22.4 
print(f"Value before conversion:{A}     Datatype:{type(A)}")
A=int(A)
print(f"Value after conversion:{A}      Datatype:{type(A)}")

print("\n")

B=22
print(f"Value before conversion:{B}      Datatype:{type(B)}")
B=complex(B)
print(f"Value after conversion:{B}     Datatype:{type(B)}")

Value before conversion:22.4     Datatype:<class 'float'>
Value after conversion:22      Datatype:<class 'int'>


Value before conversion:22      Datatype:<class 'int'>
Value after conversion:(22+0j)     Datatype:<class 'complex'>