In [ ]:
#Q1. Find the largest number from the given list, use for loop.
numbers = [12, 75, 150, 180, 145, 525, 50]

maxi = numbers[0]

for i in numbers:
  if i > maxi:
    maxi = i

print("largest number is:", maxi)

largest number is: 525

In [ ]:
#2.Print all the even number between (1, 12).
A=[1,2,3,4,5,6,7,8,9,10,11,12]
for i in A:
  if i%2 == 0:
     print( i)

2
4
6
8
10
12

In [ ]:
#3.Calculate the sum of all numbers from 1 to a given number

number=int(input("Enter the number "))

for i in range (1, number+1):
    print(sum(i))

Enter the number 2

TypeError: ignored

In [ ]:
#Q4. Write a program to display only those numbers from a list that satisfy the following conditions

#The number must be divisible by five

#If the number is greater than 150, then skip it and move to the next number

#If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
#1 #The number must be divisible by five
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
   if i%5 ==0:
       print(i)

75
150
180
145
525
50

In [ ]:
#If the number is greater than 150, then skip it and move to the next number
for i in numbers:
  if i<150:
    print(i)

12
75
145
50

In [ ]:
#If the number is greater than 500, then stop the loop
for i in numbers:
  if i==500:
    end(numbers)
    print(i)