# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples - 
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1


1. What is indentation error? Why indentation is important? Give one simple example?

2. Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

  **HINT:** Refer your data type conversion class

3. Use if else condition to verify that dataype of `input()` method in python is always string.

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.


5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```
    
6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

### Answer below questions on the above theory - 

7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [ ]:

1)# If we unintentionally placed an indentation in the wrong place or there is an absence of tabs or white spaces between lines of code Since Python adheres to
# strict guidelines to arrange written codes, an indentation in the wrong place will inevitably return an error.This error is known as indentation error.
# Indentation is a very important concept of Python because without properly indenting the Python code, you will end up seeing IndentationError and
# the code will not get compiled.
# Example-
A="shweta_jagdale"
    print(A)

SyntaxError: ignored

In [ ]:
2. class_started = int(input("Hey friend, is class started?: [0-False/1-True]"))  # As user has to give input as 0 for false and 1 for true datatype should be int and not bool

if class_started==1:  # if statement should contain condition.
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]0
Since class is not started...
let's revise

In [ ]:
#3.
A=input("Enter input: ")
if type(A)==str:
  print("The given input is a string")
else:
  print("The given input is not a string")

Enter input: 52012
The given input is a string

In [ ]:
#4 Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions
a=10
b=35
c=5
if a>b:
   if a>c:
     print("a is the largest number")
   else:
     print("c is the largest number") 
else:
  if b>c:
    print("b is the largest number")
  else:
     print("c is the largest number")

b is the largest number

In [ ]:
# 5 ANS. False

In [ ]:
# 6 case1:
A = 5.0
B = 10/2
print(A is B)           
# gives output as false because even if value of 10/2 is 5.0, A is given as float value and B is given with the operator/.

False

In [ ]:
#6 case 2
A = 5.0
B = int(10/2)
print(A is B)
# value of A is float and the value of B is stored as a integer since A and B have different dayatype the output is false.

False

In [ ]:
#6 case 3
A = 5.0
B = float(10/2)
print(A is B)
# is operator checks whether A is same as B. but the value of A is directly given as float and in case of B it is stored as float hence gives output as false.

False

In [ ]:
#7
A= int(input("Enter any number you want "))
if A%5==0 or B%3==0:
  print("The number is dividible by either 5 or 3")
else:
  print("The number is not divisible by either 5 or 3")

Enter any number you want 2
The number is not divisible by either 5 or 3

In [ ]:
#8
length=int(input("Enter value of length: "))
width=int(input("Enter the value of width: "))
print(f"Area= {length*width}")
if length==width:
  print("The given geometry is square")
else:
  print("The given geometry is rectangle")

Enter value of length: 25
Enter the value of width: 3
Area= 75
The given geometry is rectangle

In [ ]:
#9
radius_1=20
radius_2=25
area_1=3.14*(radius_1**2)
area_2=3.14*(radius_2**2)
if area_1>=area_2:
  if area_1==area_2:
    print("Given circles are equal")
  else:
    print("circle 1 has larger area than circle 2")
else:
  print("circle 2 has larger area than circle 1")

circle 2 has larger area than circle 1

In [ ]:
# 10
year=int(input("Enter year: "))
if year%4==0:
  print(f"{year} is leap year")
else:
  if year%400==0:
    print(f"{year} is leap year")
  else:
    print(f"{year} is not leap year")

Enter year: 1800
1800 is leap year